@import 'components/Theme/Globals';

.buttonLink {
  text-decoration: none;
  display: inline-block;
}

.button {
  border-radius: 30px !important;
  text-align: center !important;
  color: white !important;
  background-color: $brandInfo !important;
  text-transform: none !important;
  min-height: auto !important;
  min-width: auto !important;
  font-family: $fontFamily;
  &:hover {
    background-color: $brandInfo !important;
  }
}

.extendedIcon {
  margin-right: 5px;
}

.arrow {
  position: relative;
  top: 0.5px;
  right: -4px;
  height: 28px;
  margin:0 !important;
}

.animateArrow {
  animation: bounce 2s infinite;
}

.buttonSmall {
  padding: 6px 10px;
  font-size: 12px;
}

.arrowSmall {
  top: 0px;
  height: 20px;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(7px);
  }
  60% {
    transform: translateX(9px);
  }
}
