@import 'components/Theme/Globals';

.root {
  width:auto;
  margin-right:0;
  display:flex;
  flex: 1;
  flex-direction: column;
  align-content: center;
  justify-content: center !important;
  align-items: center;
  padding: $largePadding !important;
  text-align: left !important;
  font-family: $fontFamily !important;
  font-weight: 300 !important;
  font-style: normal;
  overflow: hidden;
  position:relative;
}

.root > * {
  width:100%;
}

.image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.backgroundVideo {
  left: 0;
  right: 0;
  top: 0;
  object-fit: cover;
  display: block;
  width: 100%;
  position: absolute;
  height: 600px;
}

.subheadline {
  font-family: $fontFamily;
  font-weight: 300;
  font-style: normal;
  margin:0;
}

.secondaryHeadline {
  color: #777;
}

.paddingTopLarge {
  padding-top: $largePadding !important;
}

.paddingTopMedium {
  padding-top: $padding !important;
}

.paddingTopSmall {
  padding-top: $padding / 2 !important;
}

.paddingTopNone {
  padding-top: 0 !important;
}

.paddingBottomLarge {
  padding-bottom: $largePadding !important;
}

.paddingBottomMedium {
  padding-bottom: $padding !important;
}

.paddingBottomSmall {
  padding-bottom: $padding / 2 !important;
}

.paddingBottomNone {
  padding-bottom: 0 !important;
}