@import 'components/Theme/Globals';

.root {
  position: relative;
  padding: $padding;
  white-space: nowrap;
}

.navLink {
  color:$white;
}

.subNavWrapper {
  position:absolute;
  opacity: 0;
  visibility: hidden;
  transform: translateY(0);
  will-change: transform;
}

.floatingCopy {
  color: $black !important;
  &:hover {
    color: $black;
  }
}

.fixedCopy {
  color: $white !important;
  &:hover {
    color: $white !important
  }
}

.subNavInner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.subNavOpen, .subNavLink {
  color: $white,
}

.animateOpen {
  transition: opacity 0.2s linear, transform 0.2s linear, visibility 0.8s linear;
  transform: translateY(-34px);
  opacity: 1;
  visibility: visible;
}

.subNav {
  position: absolute;
  background-color: #f6f6f6;
  box-shadow: 0px 40px 100px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  width: 100%;
  color: #000;
}

.arrow {
  display: inline-block;
  position: absolute;
  width: 0;
  height: 0;
}