/*** Post related ***/
.post-related {
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 3px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow:hidden;
  margin-bottom:80px;
  margin-top:70px;
}

.post-box { }
.post-box-title {
  font-size:18px;
  text-transform:uppercase;
  margin-bottom:28px;
  font-weight:700;
  padding-bottom:0px;
  display:inline-block;
  font-family: roboto !important;
}

.item-related {
  width: 50%;
  float: left;
}
