# Sample .env file
# ----------------
# PRISMIC_REPOSITORY_NAME=[REPOSITORY NAME]
# PRISMIC_ACCESS_TOKEN=[PRISIMIC ACCESS TOKEN]
# GEMFURY_APP_ID=[ERIC'S GEMFURY APP ID]
# SITE_NAME=[WEBSITE NAME]
# SITE_URL=[https://example.com]
# HOSTNAME=[example.com]
# export ENABLE_GATSBY_REFRESH_ENDPOINT=true
# export GATSBY_REFRESH_TOKEN=sAL6X4fEuJZSn2ykKDjopK5SXmfKwm3Vaf88SrMx0ZOipwh7VPJkPKBU8GW64nX5
