@import 'components/Theme/Globals';

$navItems: 4;

.header {
  position: fixed;
  top:0;
  left: 0;
  padding: $padding;
  z-index: 99;
  background-color: transparent;
  width: 100%;
  color: white;
}

.floatingBg {
  background-color: #f0f0f0;
}

.floatingCopy {
  color: $black !important;
  &:hover {
    color: $black;
  }
}

.fixedCopy {
  color: $white !important;
  &:hover {
    color: $white !important
  }
}

.logo {
  font-family: $fontFamilyLogo;
  font-size: 20px;
  display:inline-block;
  position: relative;
  font-weight: 600;
  font-style: normal;
  transform: scaleX(.8);
}

.navBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 75px;
  width:90%;
  margin: 0 auto;
}

.navBarLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex: 0 0 135px;
  margin-right: auto;
  margin-left:0;
}

$navBarCenterWidth: 500px;
.navBarCenter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: $navBarCenterWidth;
}

.navBarRight {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex: 0 0 135px;
  margin-left: auto;
}

.listItem {
  color: $white;
  font-family: $fontFamilyTitle;
  font-size: 16px;
  padding: 0 !important;
  font-weight: 300;
  font-style: normal;
  line-height: 32px;
  &:hover {
    color: $white;
  }
}

.centerItem {
  width: $navBarCenterWidth / $navItems;
  text-align: center;
}

.sideMenu {
  position: fixed;
  width: 220px;
}

.menuIcon {
  position: relative;
  top: 5px;
  font-size: 26px;
  cursor: pointer;
  fill:$white;
}