@import '../../Globals';

.typography {
  h1 {
    color: $darkGray;
    font-family: $fontFamilyTitle;
    font-size: $h1FontSize;
    margin:0;
    font-weight: 300;
    font-style: normal;
  }

  h2 {
    color: $darkGray;
    font-family: $fontFamilyTitle;
    font-size: $h2FontSize;
    margin:10px 0 0 0;
    font-weight: 200;
    font-style: normal;
  }

  h3 {
    color: $darkGray;
    font-family: $fontFamilyTitle;
    font-size: $h3FontSize;
    margin:10px 0 0 0;
    font-weight: 200;
    font-style: normal;
  }
}
