@import 'components/Theme/Globals';

.block {
  .section {
    padding-left: $largePadding * 2 !important;
    padding-right: $largePadding * 2  !important;
  }
  h2 {
    width:60%;
    font-size: $h2FontSize * 1.5;
    font-weight: 300;
  }
}