@import 'components/Theme/Globals';

.block {
  .section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    display: flex;
    .logo {
      width: 200px;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}

