@import 'components/Theme/Globals';

.icon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  position: relative;
  top: 2px;
  fill: $darkGray;
}

.fastestRoute {
  width: 100% !important;
}

.fastestRouteItem {
  height: 20px;
  margin-bottom: 35px;
}

.fastestRouteItemButton {
  margin-right: 15px !important;
}

.or {
  text-align: center;
  width: 100%;
}