.content {
  .toc {
    padding: 15px;
    border-radius: 5px;
		//border: solid 2px darken($theme-primary, 5%);
    a:hover {
      box-shadow: initial;
    }

    a, a:hover {
      text-decoration: initial;
      border-bottom: initial;
      border-color: initial;
      -o-transition: initial;
      -ms-transition: initial;
      -moz-transition: initial;
      -webkit-transition: initial;
      transition: initial;
    }

    ul.parent {
      -moz-column-count: 2;
      -moz-column-gap: 30%;
      -webkit-column-count: 2;
      -webkit-column-gap: 30%;
      -webkit-column-rule: medium dashed $brand-info;
      -moz-column-rule: medium dashed $brand-info;
      column-count: 2;
      column-gap: 30%;
      column-rule: medium dashed $brand-info;
      list-style: none;
      & > li {
        margin-top: 1rem;
        font-weight: bold;
      }
    }

    ul.continue {
      & > li {
        margin-top: 0;
      }
    }

    ul {
      font-size: 16px;
      line-height: 1.58;
      letter-spacing: -.003em;
    }
  }
}
