@import 'components/Theme/Globals';

.footer {
  background-color: $brandSecondary;
  height: 500px;
  width: 100%;
  color: #92A5B1;
}

.social {
  display: flex;
  flex-direction: row;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #2F363C;
}

.socialSpacer {
  flex: 1 1 auto;
  width: auto;
}

.socialLink {
  border-left: 1px solid #2F363C;
  width: 75px;
  flex: 0 0 auto;
  font-size: 28px;
  color: #92A5B1;
  text-align: center;
  line-height: 75px;
}

.footerNav {
  display: flex;
  width: 100%;
  margin-top: 30px;
  flex-direction: row;
  justify-content: space-around;
}

.footerHeader {
  width: 100%;
  text-align: left;
  color: #fafafa;
  font-family: $fontFamily;
  font-weight: 300;
  font-style: normal;
  font-size: 13px;
  padding-bottom: 25px;
  border-bottom: 1px solid #2F363C;
  margin-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
}

.footerSection {
  margin: 0 25px;
  width: 200px;
}

.footerNavLinks {
  list-style-type: none;
  margin: 25px 0;
  padding: 0;
  text-align: left;
  font-size: 14px;
  line-height: 24px;
}

.footerLegal {
  border-top: 1px solid #2F363C;
  display: flex;
  width: 100%;
  margin-top: 30px;
  padding-top: 30px;
  flex-direction: row;
  justify-content: space-between;
  font-size: 14px;
}

.footerLegalLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: left;
}

.footerLegalRight {
  flex-direction: row;
  justify-content: flex-end;
  text-align: left;
}

.footerLegalLink {
  margin-right: 50px;
}

.flag {
  height: 14px;
  margin-left: 5px;
  position: relative;
  top: 2px;
}
