@import 'components/Theme/Globals';

.root {
  width: inherit;
  min-height: 250px;
  position: relative;
  border-left: 5px solid $darkSuccess;
  border-right: 5px solid $darkSuccess;
  border-radius: 5px;
  background: $lightSuccess;

  a {
    text-decoration: none;
    color: $brandInfo;
  }
}

.content {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.58;
  letter-spacing: -0.003em;
}
.content div, .content p, .content a {
  margin-left: 15px;
}
.content * > ul,
.content * > ol, .content > ul, .content > ol {
  padding-top: 15px;
}
.content * > ul li,
.content * > ol li, .content > ul li, .content > ol li {
  text-indent: -0.7em;
  margin-left: 15px;
  position: relative;
  margin-bottom: 0px;
  top: -5px;
}
.content * > ul li:before,
.content * > ol li:before, .content > ul li:before, .content > ol li:before {
  content: " ";
  font-weight: bold;
  display: inline-block;
  margin-right: 15px;
}
.content *:not(li) > ul,
.content *:not(li) > ol, .content:not(li) > ul, .content:not(li) > ol {
  margin: 0 0 30px 0;
  list-style: none;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  display: block;
  width: fit-content;
}
.content *:not(li) > ul li,
.content *:not(li) > ol li, .content:not(li) > ul li, .content:not(li) > ol li {
  margin-bottom: 14px;
}
.content *:not(li) > ol, .content:not(li) > ol {
  counter-reset: section;
}
.content *:not(li) > ol > li:before, .content:not(li) > ol > li:before {
  counter-increment: section;
  content: counters(section, ".") ".";
}
.content *:not(li) > ul > li:before, .content:not(li) > ul > li:before {
  font-size: 30px;
  content: "•";
}

.headline {
  color: $darkSuccess;
  font-family: $fontFamilyTitle;
  font-size: 20px;
  font-weight: bold;
  padding-left: 15px;
}

.BorderTopLeft,
.BorderTopRight,
.BorderBottomLeft,
.BorderBottomRight {
  position: absolute;
  width: 7.5%;
  border-color: $darkSuccess;
  border-style: solid;
}

.BorderTopLeft {
  left: 0;
  top: 0;
}
.BorderTopRight {
  right: 0;
  top: 0;
}
.BorderBottomLeft {
  left: 0;
  bottom: 0;
}
.BorderBottomRight {
  right: 0;
  bottom: 0;
}
