@import 'components/Theme/Globals';

.navGroupWrapper {
  flex-direction: column;
  justify-content: space-between;
  width:100%;
  padding: 0 !important;
}

.navGroup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  justify-content: space-between;
  width:100%;
}

.navGroupTitle {
  font-size: 13px;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 5px;
  padding: 12px 0 !important;
  text-transform: uppercase;
  width:90% !important;
}

.navItemGroup {
  width: 100%;
  padding: 0 !important;
}
