@import '../../../Theme/Globals';

.navGroup {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 0 !important;
  justify-content: space-between;
}

.navGroupTitle {
  font-size: 13px;
  border-bottom: 1px solid #cacaca;
  margin-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase;
}

.navItemGroup {
  width: 90%;
}
