@import 'components/Theme/Globals';

.scope {
  text-align: center;
  color: $white;
  background-color: $brandSecondary;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: flex;
  min-height: 50vh;
}

.scopeVerbiage {
  width: 100%;
  display: flex;
  z-index: 1;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}