@import 'components/Theme/Globals';

.container {
  display: flex;
  width: 100%;
  height: auto !important;
  padding: 0 !important;
  justify-content: space-around;

}

.reducedHeight {
  min-height: 300px !important;
}

.heightLarge {
  height: 600px !important;
}

.heightMedium {
  height: 400px !important;
}

.heightSmall {
  height: 200px !important;
}

