@import 'components/Theme/Globals';

.container {
  display: flex;
  width: 100%;
  min-height: 600px;
  padding: 0 !important;
  justify-content: space-around;

}

.reducedHeight {
  min-height: 300px !important;
}
