@import 'components/Theme/Globals';

.container {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0;
  justify-content: space-around;

}

.reducedHeight {
  min-height: 300px;
}

.heightLarge {
  min-height: 600px;
}

.heightMedium {
  min-height: 400px;
}

.heightSmall {
  min-height: 200px;
}

