@import 'components/Theme/Globals';

.widget {
  position: fixed;
  z-index: 9999;
  right: auto;
  left: 75px;
  top: 45vh;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.hideWidget {
  opacity: 0;
}

.showWidget {
  visibility: visible;
  opacity: 1;
}

.count {
  font-size: 40px;
}

.widgetShare {
  cursor: pointer;
}

.ribbon {
  width: 100%;
  text-align: center;
  padding: 25px 0;
  position: fixed;
  z-index: 9999;
  right: auto;
  top: auto;
  left: auto;
  bottom: 0;
  visibility: hidden;
  -webkit-transition: opacity 1s ease-in;
  -moz-transition: opacity 1s ease-in;
  -o-transition: opacity 1s ease-in;
  -ms-transition: opacity 1s ease-in;
  transition: opacity 1s ease-in;
}

.hideRibbon {
  opacity: 0;
}

.showRibbon {
  visibility: visible;
  opacity: 1;
}
