@import 'components/Theme/Globals';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

* {
  box-sizing: border-box;
}

body {
  font-family: $fontFamily;
  color: $darkGray;
  font-size: 16px;
  font-style: normal;
  min-height:100%;
  overflow-x: hidden;
  width: 100%;
  font-smoothing: antialiased;
  margin:0;
}

body img {
  letter-spacing: .02em;
  max-width:100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}
b, strong {
  color: black;
}

h1,h2,h3,h4 {
  text-transform: uppercase;
}

h1 {
  --x-height-multiplier: 0.363;
  --baseline-multiplier: 0.157;
  color: $brandPrimary;
  font-style: normal;
  font-size: $h1FontSize;
  font-family: $fontFamilyTitle;
  line-height: 1.2;
  letter-spacing: -.028em;
}

h2 {
  color: $brandInfo;
  font-weight: 700;
  font-style: normal;
  font-family: $fontFamilyTitle;
  font-size: $h2FontSize;
  line-height: 1.04;
  letter-spacing: -.03em;
}

h3 {
  color: $brandInfo;
  font-weight: 700;
  font-style: normal;
  font-family: $fontFamilyTitle;
  font-size: $h3FontSize;
  line-height: 1.15;
  letter-spacing: -.02em;
}

h4 {
  color: $darkGray;
  font-weight: 700;
  font-style: normal;
  font-size: 28px;
  font-family: $fontFamilyTitle;
  line-height: 1.22;
  letter-spacing: -.018em;
}

h5 {
  color: $darkGray;
  font-size: 21px;
  font-weight: 700;
  font-family: $fontFamily;
  font-style: normal;
}

pre code {
  background-color: $black;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow-x: auto;
  display: inline-block;
  border-radius: 3px;
}

button {
  border:0;
  padding:0;
}
