//noinspection CssUnknownTarget
@import 'components/Theme/Globals';
//noinspection CssUnknownTarget
@import 'components/Theme/Fonts';

* {
  box-sizing: border-box;
}


body {
  font-family: $fontFamily;
  min-height:100%;
  overflow-x: hidden;
  width: 100%;
  font-smoothing: antialiased;
  letter-spacing: .02em;
  margin:0;
}

a {
  text-decoration: none;
  &:visited {
    color: inherit;
  }
}

body img {
  max-width:100%;
}

ul {
  list-style-type: none;
  -webkit-padding-start: 0;
  -moz-padding-start: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border:0;
  padding:0;
}
