@import 'components/Theme/Globals';

* {
  box-sizing: border-box;
}


body {
  font-family: $fontFamily;
  min-height:100%;
  overflow-x: hidden;
  width: 100%;
  font-smoothing: antialiased;
  letter-spacing: .02em;
  margin:0;
}

a {
  text-decoration: none;
}

body img {
  max-width:100%;
}

ul {
  list-style-type: none;
}

button {
  border:0;
  padding:0;
}
