// colors;
$white: #FFFFFF;
$lightGray: #efefef;
$gray: #c6c8ca;
$mediumGrey: #5c5d5f;
$darkGray: #5c5d5f;
$black: #000;
$lightSuccess: #FFFFFF;
$darkSuccess: #000000;
$brandPrimary: #5b8edc;
$brandSecondary : #171F26;
$brandInfo: #5b8edc;
$brandSuccess: #5b8edc;
$brandWarning: #ec663c;
$brandDanger: #ec663c;
$brandLight: #C2C3C4;
$headerColor: #5b8edc;

// general;
$headerHeight: 56px;
$maxWidth: 1200px;
$padding: 20px;
$largePadding: 60px;

// typography
$h1FontSize: 60px;
$h2FontSize: 25px;
$h3FontSize: 18px;

$fontFamilyLogo: 'Termina', sans-serif;
$fontFamilyTitle: 'Lato', sans-serif;
$fontFamily: 'Lato', sans-serif;