// colors;
$white:          #FFFFFF;
$lightGray:      #EFEFEF;
$gray:           #B5B6B7;
$mediumGrey:     #5c5d5f;
$darkGray:       #666;
$black:          #030;
$lightSuccess:   #E3EFEC;
$darkSuccess:    #3BA34F;
$brandPrimary:   #005089;
$brandSecondary: #2D3B45;
$brandInfo:      #1B98CA;
$brandSuccess:   #48C35F;
$brandWarning:   #F7B900;
$brandDanger:    #FF4E38;
$brandLight:     #C2C3C4;
$headerColor:    $brandSecondary;

// general;
$headerHeight: 56px;
$maxWidth: 1200px;
$padding: 20px;
$largePadding: 60px;

// typography
$h1FontSize: 40px;
$h2FontSize: 40px;
$h3FontSize: 34px;

// fonts;
$fontFamilyLogo: 'Open Sans', sans-serif;
$fontFamilyTitle: 'Oswald', sans-serif;
$fontFamily: 'Open Sans', sans-serif;
