* {
  box-sizing: border-box;
}

@fontface {
  font-family: 'Amatic SC', cursive;
  src: url('https://fonts.googleapis.com/css?family=Amatic+SC')
}

body {
  font-family:'Lato', 'sans-serif';
  min-height:100%;
  /*background-color:#fafafa;*/
  color:#252525;
  font-size:18px;
  overflow-x: hidden;
  width: 100%;
  font-smoothing: antialiased;
  letter-spacing: .02em;
  /*padding-top: 74px;*/
  margin:0;
}

body a {
  color:#447bb9;
  text-decoration: none;
}

body img {
  max-width:100%;
}

.wrapper {
  max-width:1400px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
}

.wrapper.padded {
  padding:60px 20px;
}

.headline {
  font-family:'pt-sans', 'futura', 'trebuchet', 'helvetica', 'sans-serif';
  font-size: 48px;
  line-height: 38px;
  font-weight: normal;
  padding:0;
  margin:0;
}

.subheadline {
  font-family:'pt-sans' 'futura', 'trebuchet', 'helvetica', 'sans-serif';
  font-size: 26px;
  line-height: 22px;
  font-weight: normal;
  letter-spacing: 0px;
  color:#242424;
}

/* material-ui 1.0 beta overrides (some properties arent available yet)*/

.white .MuiInput-underline-14:before {
  background-color:#a9a9a9 !important;
  color:#fff !important;
}

.white .MuiInput-inkbar-8:after {
  background-color:#fff !important;
}

.white [class^="MuiInput-input-"] {
  color:#fff;
}

.full-width {
  width:100%;
}

.full-width > * {
  width:100%;
}

#header a:hover {
  color: #000 !important;
}

#logo {
  display:inline-block;
}

#logo img {
  max-height:48px;
}


.mui-ripple-circle {display: none}

/*parallax component overrides*/

.react-parallax-background-children {
  width:100%;
}


@media only screen and (max-device-width: 768px) {

  #header {

  }

  #logo {
    /*background-image: url('/images/logo-black.png');*/
    height:60px;
  }

  #header ul a {
    /*color:black !important;*/
    position:relative;
    top:15px;
  }

  .headline {
    font-size:32px;
    line-height:32px;
  }

  /*home*/

}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateX(0);
  }
  40% {
    transform: translateX(7px);
  }
  60% {
    transform: translateX(9px);
  }
}