@import 'components/Theme/Globals';

.root {
  text-align: center;
}

.headline {
  font-family: $fontFamilyTitle;
  font-weight: 200;
  font-style: normal;
  margin: 50px 0;
  padding: 0;
  text-align: center !important;
}

.container {
  display: table;
  width: 100%;
  padding: 0 !important;
}

.containerItem {
  display: table-cell;
  width: 100%;
  padding: $largePadding;
  text-align: left;
  vertical-align: middle;
}

.customers {
  display: flex;
  flex-direction: column;
  width:100%;
}

.row {
  display: flex;
  flex: 5;
  flex-direction: row;
  margin-top: 75px;
}

.topRow {
  margin-top: 0px;
}

.customer {
  flex: 4;
  display: flex;
  flex-flow: column wrap;
  height: 150px;
  justify-content: center;
}

.customer + .customer {
  border-left: 1px solid #ccc;
}

.logo {
  width: 100px;
  display: inline-block;
  margin: auto;
}

.copyBlock {
  background-color: #fafafa;
}

.cta {
  text-align: center;
}